@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-img-top {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  }

.valor{
  font-family: 'Inter', sans-serif;
  font-weight: 800;
}

.descricao{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  color: rgb(83, 83, 83);
}

.infoAnoKm{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  color: rgb(83, 83, 83);
}

.card-title{
  font-family: 'Inter', sans-serif;
  font-weight: 800;
 
}

